body {
  background-color: lightgray;
  color: #36454F;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: slateblue;
}

h2 {
  color: lightseagreen;
}

a {
  color: salmon;
}

a:hover {
  color: gold;
}

.center {
  width: 500px;
  display: block;
  margin: auto;
  padding: 5px;
}