<!DOCTYPE html> 
<html lang="en"> 
 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Cat Search</title> 
  <link rel="stylesheet" href="style.css"> 
</head> 

<body>
	<h1>Welcome to Cat Search</h1>

	<ul>
		<li>Search for cats: <a href="/searchCats">Search</a></li>
		<li>Browse search history: <a href="/searchHistory">History</a></li>
	</ul>

	<hr>
</body>

</html>